<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>forgot-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">forgot-password</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mot de passe oublié</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Adresse email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Envoyer</ion-button>
      </ion-col>
    </ion-row>
    <small>
      Nous allons envoyer un lien vers cette adresse email.
      Vous pouvez le vérifier après clique du bouton "Envoyer"
    </small>
  </form>
</ion-content>