<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Historique des demandes de papiers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-spinner *ngIf="spinner" name="dots"></ion-spinner>
  <app-paper-request-history-content *ngFor="let paperRequestHistoryItem of paperRequestHistory"
    [paperRequestHistoryItem]="paperRequestHistoryItem"></app-paper-request-history-content>
  <p class="nodata" *ngIf="!spinner && paperRequestHistory.length === 0">Aucune donnée</p>
</ion-content>