<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-spinner *ngIf="spinner" name="dots"></ion-spinner>
  <ion-list>
    <app-notif-content *ngFor="let notification of notifications" [notification]="notification"></app-notif-content>
  </ion-list>
  <p class="nodata" *ngIf="!spinner && notifications.length === 0">Aucune donnée</p>
</ion-content>