<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>se-connecter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">se-connecter</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Authentification
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">S'inscrire</ion-button>
        <ion-item-divider>
          <span class="already">Vous avez un compte ?</span>
        </ion-item-divider>

        <ion-button [routerLink]="['/login']" expand="block" color="danger">Se connecter</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>