<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'Inbox'" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding" *ngIf="new && new.id !== ''">
    <h1>{{ new.titre }}</h1>
    <p>
      <quill-editor [readOnly]="true" [modules]="{toolbar : false}" [ngModel]="new.paragraphes"></quill-editor>
    </p>
  </div>
  <ion-spinner *ngIf="spinner" name="dots"></ion-spinner>
</ion-content>