<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item lines="full">
    <ion-label position="floating">Adresse email</ion-label>
    <ion-input type="text" [(ngModel)]="email" name="email" required></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Mot de passe</ion-label>
    <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button type="submit" color="success" expand="block" (click)="login()">Se connecter</ion-button>
    </ion-col>
  </ion-row>
  <p class="message_text">{{ message }}</p>
  <ion-spinner *ngIf="spinner"></ion-spinner>
</ion-content>